html {
  background: url(../space.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', Helveica, Arial, sans-serif;
  font-size: 10pt;
}

body {
  font-family: 'Fira Sans', Helveica, Arial, sans-serif;
  font-size: 10pt;
}

.teaser-box {
    /*display: box;
    box-pack: center;
    box-align: center;*/
    width: 80%;
    max-width: 400px;

    background-color: black;
    color: white;
    box-shadow: -30px 30px gray;
    border: 3px solid white;
    margin: 5% auto;
    padding: 20px;

    align-content: center;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: white;
}
